* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    position: absolute;
    position: fixed;
    border-bottom: solid;
    width: 100%;
}

#titulo {}

#minha_foto {
    margin-top: 50px;
    width: 190px;
    display: block;
    border-radius: 100%;
}

#licoes_aprendidas {
    display: inline-block;
}

#licoes_a_aprender {
    display: inline-block;
}

#rodape {
    background-color: antiquewhite;
}