* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(253, 251, 251);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#cabecalho {
    top: 0;
    position: absolute;
    position: fixed;
    width: 100%;
    background-color: rgb(0, 255, 76);
}

#titulo {
    padding: 15px 0 15px 80px;
}

#minha_foto {
    margin-top: 80px;
    width: 190px;
    display: block;
    border-radius: 100%;
    margin-left: 10px;
}

#licoes_aprendidas {
    font-size: 15px;
}

#licoes_a_aprender {
    font-size: 15px;
}

#rodape {
    background-color: rgba(170, 170, 170, 0.966);
}

.insta {
    height: 50px;
    position: absolute;
    z-index: 1;
    left: 920px;
    top: 5px;
    border-radius: 100%;
}

.tt {
    height: 50px;
    position: absolute;
    z-index: 2;
    left: 980px;
    top: 5px;
    border-radius: 100%;
}

.icon {
    height: 50px;
    position: absolute;
    z-index: 3;
    left: 20px;
    top: 5px;
    border-radius: 100%;
}

.block-in-line {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 22%;
    padding-left: 50px;
}

.cor {
    color: rgb(28, 121, 20);
}

.padding {
    padding: 10px;
}

.margin {
    margin-bottom: 10px;
}

.tabela {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;

}

.lado-direito {
    padding: 10px;
    width: 200px;
}

.lado-esquerdo {
    padding: 10px;
    width: 300px;  
}

.espacamento {
    line-height: 15px;
}

.lado {
    display: flex;
    flex-direction: row;
}