* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(253, 251, 251);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#cabecalho {
    top: 0;
    position: absolute;
    position: fixed;
    width: 100%;
    background-image: url(./branco.png);
}

#titulo {
    padding: 12px 0 12px 90px;
}

#minha_foto {
    margin-top: 80px;
    width: 190px;
    display: block;
    border-radius: 100%;
}

#licoes_aprendidas {
    display: inline-block;
}

#licoes_a_aprender {
    display: inline-block;
}

#rodape {
    background-color: antiquewhite;
}

.insta {
    height: 50px;
    position: absolute;
    z-index: 1;
    left: 930px;
    top: 5px;
}

.tt {
    height: 50px;
    position: absolute;
    z-index: 2;
    left: 980px;
    top: 5px;
}